header {
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    

}

#logo {
    width: 20%;
    margin-top: 100px;
    margin-left: 5px;
} 

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

#meriti{
     color: rgb(171, 171, 171) ;
     font-size: 1.3rem;
     margin-top: 0;
}

span {
    color:  rgb(114, 201, 238);
}

#data{
    color: rgb(171, 171, 171) ;
     font-size: 0.7rem;
    
}

#foto{
    margin-top: 30px;
   
}

.tim{
    width: 49%;
    height: 30rem;
}

.descrizione_foto{
    margin: 0;
    font-size: 0.7rem;

}


.descrizione{
    font-size: 1rem;
    
}

.importante{
    background-color: yellow;
    color: black;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead {
    color: white;
    background-color: rgb(32, 169, 229);
}


.blu {
    background-color: rgb(177, 229, 242);
}
td {
    width: calc(100%/3);
}

.suggerimento{
    color: rgb(141, 141, 141);
}

.monitor{
    background-image: url(../img/monitor.jpg);
    width: 20rem;
    height: 13rem;
       }

.monitor_testo{
    font-size: 1.8rem;
    color: white;
    margin-left: 20px;
       }

 .graph{
    background-image: url(../img/graph.jpg);
    width: 20rem;
    height: 13rem;
       }
    
 .graph_testo{
    font-size: 1.8rem;
    color: white;
    margin-left: 20px;
            }
      

